<a href="https://colab.research.google.com/github/bhavanadevarashetty888/Bhavana_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
string = 'INFO5731'
print(len(string))

8

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
result = {}
for i in 'google.com':
  if i in result:
    result[i] = result[i]+1;
  else:
    result[i] = 1
print (result)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# write your answer here
list = [1, 2, 3, 4, 5]
sum = 0
for i in range(0, len(list)):
  sum = sum + list[i]
print (sum)

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [75]:
# write your answer here
ch = 'r'
st = 'restart'
res = st.replace(ch, '$')
res = ch + res[1:]
print (res)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
# write your answer here
a = input("Enter 'a' value: ")
b = input("Enter 'b' value: ")
s = 3.14 * (1 + int (a)/ int (b))**3
print (s)

Enter 'a' value: 1
Enter 'b' value: 1
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
res = {**dic1, **dic2, **dic3}
print(res)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# write your answer here
tup = (1, 2, 3, 4)
element = 1
if element in tup:
  print ('yes, the element exists in the tuple')
else:
  print ('the element not exists in the tuple')

yes, the element exists in the tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
# write your answer here
set = {1, 6, 3, 9}

print (max(set))
print (min(set))

9
1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here