<a href="https://colab.research.google.com/github/bhavanadevarashetty888/Bhavana_INFO5731_Spring2021/blob/main/In_class_exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second In-class-exercise (1/27/2021, 20 points in total)**

(1) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [13]:
# write your answer here
ip = [1, 2, 2, 3]
def findDup(arr):
  dup = []
  for x in range(len(arr)):
    z = x+1
    for y in range(z, len(arr)):
      if arr[x] == arr[y]:
        dup.append(arr[x])
  if len(dup) == 0:
    return -1
  else:
    return dup

findDup(ip)

[2]

(2) Write a Python program to select all the Sundays of a specified year. (4 points)

In [11]:
# write your answer here
def all_sundays(year):
    from datetime import datetime, timedelta
    d = datetime(year, month=1, day=1)
    sundays = []
    
    print('First day of the year:', d.strftime('%A'))
    
    if d.weekday() == 6:
        sundays.append(d.strftime('%y-%m-%d'))
    else:
        d += timedelta(days=6 - d.weekday())
        sundays.append(d.strftime('%y-%m-%d'))
    
    while d.year == year:
        d += timedelta(days=7)
        sundays.append(d.strftime('%y-%m-%d'))
    
    return sundays

(3) Python files reading and writing. Download the “[exercise_02_data _collection.zip](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise_02_data_collection.zip)” to your local and un-zip it.

*   Write a program to read all the txt files and save the sentences in all the files into one csv file with two columns, the first column is sentence id (txt file name+sentence line number), the second column is the sentence text content. (4 points)
*   Remove all the punctuations from the sentences, save the processed sentences into a new column in the same csv file. (4 points)
*   Ask the user to enter a word, return all the sentences that include this word, three kinds of information should be returned: sentence id, sentence text content, the count that user input word appear in the sentence. (4 points)

In [5]:
# write your answer here
from google.colab import files
fileList = files.upload()

Saving ARTHROTEC.1.txt to ARTHROTEC.1 (1).txt
Saving ARTHROTEC.2.txt to ARTHROTEC.2 (1).txt
Saving ARTHROTEC.3.txt to ARTHROTEC.3 (1).txt
Saving ARTHROTEC.4.txt to ARTHROTEC.4 (1).txt
Saving ARTHROTEC.5.txt to ARTHROTEC.5 (1).txt
Saving ARTHROTEC.6.txt to ARTHROTEC.6 (1).txt
Saving ARTHROTEC.7.txt to ARTHROTEC.7 (1).txt
Saving ARTHROTEC.8.txt to ARTHROTEC.8 (1).txt
Saving ARTHROTEC.9.txt to ARTHROTEC.9 (1).txt
Saving ARTHROTEC.10.txt to ARTHROTEC.10 (1).txt
Saving ARTHROTEC.11.txt to ARTHROTEC.11 (1).txt
Saving ARTHROTEC.12.txt to ARTHROTEC.12 (1).txt
Saving ARTHROTEC.13.txt to ARTHROTEC.13 (1).txt
Saving ARTHROTEC.14.txt to ARTHROTEC.14 (1).txt
Saving ARTHROTEC.15.txt to ARTHROTEC.15 (1).txt
Saving ARTHROTEC.16.txt to ARTHROTEC.16 (1).txt
Saving ARTHROTEC.17.txt to ARTHROTEC.17 (1).txt
Saving ARTHROTEC.18.txt to ARTHROTEC.18 (1).txt
Saving ARTHROTEC.19.txt to ARTHROTEC.19 (1).txt
Saving ARTHROTEC.20.txt to ARTHROTEC.20 (1).txt
Saving ARTHROTEC.21.txt to ARTHROTEC.21 (1).txt
Saving ARTHROTEC.22.txt to ARTHROTEC.22 (1).txt
Saving ARTHROTEC.23.txt to ARTHROTEC.23 (1).txt
Saving ARTHROTEC.24.txt to ARTHROTEC.24 (1).txt
Saving ARTHROTEC.25.txt to ARTHROTEC.25 (1).txt
Saving ARTHROTEC.26.txt to ARTHROTEC.26 (1).txt
Saving ARTHROTEC.27.txt to ARTHROTEC.27 (1).txt
Saving ARTHROTEC.28.txt to ARTHROTEC.28 (1).txt
Saving ARTHROTEC.29.txt to ARTHROTEC.29 (1).txt
Saving ARTHROTEC.30.txt to ARTHROTEC.30 (1).txt
Saving ARTHROTEC.31.txt to ARTHROTEC.31 (1).txt
Saving ARTHROTEC.32.txt to ARTHROTEC.32 (1).txt
Saving ARTHROTEC.33.txt to ARTHROTEC.33 (1).txt
Saving ARTHROTEC.34.txt to ARTHROTEC.34 (1).txt
Saving ARTHROTEC.35.txt to ARTHROTEC.35 (1).txt
Saving ARTHROTEC.36.txt to ARTHROTEC.36 (1).txt
Saving ARTHROTEC.37.txt to ARTHROTEC.37 (1).txt
Saving ARTHROTEC.38.txt to ARTHROTEC.38 (1).txt
Saving ARTHROTEC.39.txt to ARTHROTEC.39 (1).txt
Saving ARTHROTEC.40.txt to ARTHROTEC.40 (1).txt
Saving ARTHROTEC.41.txt to ARTHROTEC.41 (1).txt
Saving ARTHROTEC.42.txt to ARTHROTEC.42 (1).txt
Saving ARTHROTEC.43.txt to ARTHROTEC.43 (1).txt
Saving ARTHROTEC.44.txt to ARTHROTEC.44 (1).txt
Saving ARTHROTEC.45.txt to ARTHROTEC.45 (1).txt
Saving ARTHROTEC.46.txt to ARTHROTEC.46 (1).txt
Saving ARTHROTEC.47.txt to ARTHROTEC.47 (1).txt
Saving ARTHROTEC.48.txt to ARTHROTEC.48 (1).txt
Saving ARTHROTEC.49.txt to ARTHROTEC.49 (1).txt
Saving ARTHROTEC.50.txt to ARTHROTEC.50 (1).txt
Saving ARTHROTEC.51.txt to ARTHROTEC.51 (1).txt
Saving ARTHROTEC.52.txt to ARTHROTEC.52 (1).txt
Saving ARTHROTEC.53.txt to ARTHROTEC.53 (1).txt
Saving ARTHROTEC.54.txt to ARTHROTEC.54 (1).txt
Saving ARTHROTEC.55.txt to ARTHROTEC.55 (1).txt
Saving ARTHROTEC.56.txt to ARTHROTEC.56 (1).txt
Saving ARTHROTEC.57.txt to ARTHROTEC.57 (1).txt
Saving ARTHROTEC.58.txt to ARTHROTEC.58 (1).txt
Saving ARTHROTEC.59.txt to ARTHROTEC.59 (1).txt
Saving ARTHROTEC.60.txt to ARTHROTEC.60 (1).txt
Saving ARTHROTEC.61.txt to ARTHROTEC.61 (1).txt
Saving ARTHROTEC.62.txt to ARTHROTEC.62 (1).txt
Saving ARTHROTEC.63.txt to ARTHROTEC.63 (1).txt
Saving ARTHROTEC.64.txt to ARTHROTEC.64 (1).txt
Saving ARTHROTEC.65.txt to ARTHROTEC.65 (1).txt
Saving ARTHROTEC.66.txt to ARTHROTEC.66 (1).txt
Saving ARTHROTEC.67.txt to ARTHROTEC.67 (1).txt
Saving ARTHROTEC.68.txt to ARTHROTEC.68 (1).txt
Saving ARTHROTEC.69.txt to ARTHROTEC.69 (1).txt
Saving ARTHROTEC.70.txt to ARTHROTEC.70 (1).txt
Saving ARTHROTEC.71.txt to ARTHROTEC.71 (1).txt
Saving ARTHROTEC.72.txt to ARTHROTEC.72 (1).txt
Saving ARTHROTEC.73.txt to ARTHROTEC.73 (1).txt
Saving ARTHROTEC.74.txt to ARTHROTEC.74 (1).txt
Saving ARTHROTEC.75.txt to ARTHROTEC.75 (1).txt
Saving ARTHROTEC.76.txt to ARTHROTEC.76 (1).txt
Saving ARTHROTEC.77.txt to ARTHROTEC.77 (1).txt
Saving ARTHROTEC.78.txt to ARTHROTEC.78 (1).txt
Saving ARTHROTEC.79.txt to ARTHROTEC.79 (1).txt
Saving ARTHROTEC.80.txt to ARTHROTEC.80 (1).txt
Saving ARTHROTEC.81.txt to ARTHROTEC.81 (1).txt
Saving ARTHROTEC.82.txt to ARTHROTEC.82 (1).txt
Saving ARTHROTEC.83.txt to ARTHROTEC.83 (1).txt
Saving ARTHROTEC.84.txt to ARTHROTEC.84 (1).txt
Saving ARTHROTEC.85.txt to ARTHROTEC.85 (1).txt
Saving ARTHROTEC.86.txt to ARTHROTEC.86 (1).txt
Saving ARTHROTEC.87.txt to ARTHROTEC.87 (1).txt
Saving ARTHROTEC.88.txt to ARTHROTEC.88 (1).txt
Saving ARTHROTEC.89.txt to ARTHROTEC.89 (1).txt
Saving ARTHROTEC.90.txt to ARTHROTEC.90 (1).txt
Saving ARTHROTEC.91.txt to ARTHROTEC.91 (1).txt
Saving ARTHROTEC.92.txt to ARTHROTEC.92 (1).txt
Saving ARTHROTEC.93.txt to ARTHROTEC.93 (1).txt
Saving ARTHROTEC.94.txt to ARTHROTEC.94 (1).txt
Saving ARTHROTEC.95.txt to ARTHROTEC.95 (1).txt
Saving ARTHROTEC.96.txt to ARTHROTEC.96 (1).txt
Saving ARTHROTEC.97.txt to ARTHROTEC.97 (1).txt
Saving ARTHROTEC.98.txt to ARTHROTEC.98 (1).txt
Saving ARTHROTEC.99.txt to ARTHROTEC.99 (1).txt
Saving ARTHROTEC.100.txt to ARTHROTEC.100 (1).txt

In [7]:
#3a

import pandas as pd
sentence_id = []
sentence_textContent = []
for files in fileList:
  with open(files, 'r') as file:
    content = file.read()
    split_content = content.splitlines()
    for line_number in range(len(split_content)):
      sentence_id.append(files + '_' +str(line_number))
      sentence_textContent.append(split_content[line_number])
dataFr = pd.DataFrame(list(zip(sentence_id, sentence_textContent)), 
               columns =['Sentence id', 'sentence_textContent'])
dataFr.to_csv('result.csv', index = False)

In [8]:
#3b

import string

dataFr['remove Punctuation'] = dataFr['sentence_textContent'].apply(lambda x:''.join([i for i in x 
                                                                                      if i not in string.punctuation]))
dataFr.to_csv('reult.csv', index = False)
dataFr

             Sentence id  ...                                 remove Punctuation
0      ARTHROTEC.1.txt_0  ...  I feel a bit drowsy  have a little blurred vis...
1      ARTHROTEC.1.txt_1  ...  Ive been on Arthrotec 50 for over 10 years on ...
2      ARTHROTEC.1.txt_2  ...  Due to my arthritis getting progressively wors...
3      ARTHROTEC.1.txt_3  ...  every day for the next month to see how I get ...
4      ARTHROTEC.1.txt_4  ...  So far its been very good pains almost gone bu...
..                   ...  ...                                                ...
530  ARTHROTEC.100.txt_3  ...                           canker sores in my mouth
531  ARTHROTEC.100.txt_4  ...                                           headache
532  ARTHROTEC.100.txt_5  ...            been off for 1 week still have bleeding
533  ARTHROTEC.100.txt_6  ...                               helped my pain alot
534  ARTHROTEC.100.txt_7  ...                 too scared to take this drug again

[535 rows x 3 columns]

In [33]:
#3c

wordSearch = input('Please enter the word')
dataFrame_Res =dataFr[dataFr['sentence_textContent'].str.contains(wordSearch,na=False)]
dataFram_final_Res = dataFrame_Res[['Sentence id','sentence_textContent']]
dataFram_final_Res['wordcount'] = dataFr['sentence_textContent'].apply(lambda x: x.count(wordSearch))
dataFram_final_Res

Please enter the wordpain

             Sentence id  ... wordcount
4      ARTHROTEC.1.txt_4  ...         1
5      ARTHROTEC.2.txt_0  ...         1
6      ARTHROTEC.2.txt_1  ...         1
7      ARTHROTEC.2.txt_2  ...         1
8      ARTHROTEC.3.txt_0  ...         1
..                   ...  ...       ...
516   ARTHROTEC.97.txt_1  ...         1
524   ARTHROTEC.99.txt_3  ...         1
525   ARTHROTEC.99.txt_4  ...         2
529  ARTHROTEC.100.txt_2  ...         1
533  ARTHROTEC.100.txt_6  ...         1

[125 rows x 3 columns]

(4) Install packages nltk, numpy, scipy, pandas, and sklearn on Google Colab. Write a program to test whether they are installed successfully. (3 points for extra)

In [38]:
# write your answer here
!pip install nltk
!pip install numpy
!pip install scipy
!pip install pandas
!pip install sklearn

import nltk
import numpy
import scipy
import pandas
import sklearn

print('nltk version: {}'.format(nltk.__version__))
print('numpy version: {}'.format(numpy.__version__))
print('scipy version: {}'.format(scipy.__version__))
print('pandas version: {}'.format(pandas.__version__))
print('sklearn version: {}'.format(sklearn.__version__))

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.0.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.19.5)
nltk version: 3.2.5
numpy version: 1.19.5
scipy version: 1.4.1
pandas version: 1.1.5
sklearn version: 0.22.2.post1