<a href="https://colab.research.google.com/github/bhavanadevarashetty888/Bhavana_INFO5731_Spring2021/blob/main/In_class_exercise_08_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The eighth in-class-exercise (20 points in total, 3/30/2021)**

The data for this exercise is from the dataset you created from assignment three. Please perform answer the following questions based on your data:

## (1) (10 points) Write a python program to extract the sentiment related terms from the corpus. You may use python package such as polyglot or external lexicon resources in the question. Rank the sentiment related terms by frequency.

In [2]:
# Write your code here

import pandas as pd

sentiment_data = pd.read_csv("/content/sentimentAnal.csv")

sentiment_data.head(10)

required_df=sentiment_data[["User Names","Reviews"]]

required_df.head(5)

     User Names                                            Reviews
0  morino-59166  When I saw the magnificent Heath ledger a few ...
1   asassandroo  I can say that i'm really grateful that movies...
2    samanehdds  I'm not a fan of Batman movies but went to see...
3    guillevica  What a master piece, it so so wondeful, all in...
4     ahurworth  Has to be the best movie I've seen in years. I...

In [5]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

from nltk.corpus import stopwords
stopwords = list(stopwords.words('english'))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
required_df["tokens"] = required_df["Reviews"].apply(lambda x : nltk.word_tokenize(str(x)))
required_df.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     User Names  ...                                             tokens
0  morino-59166  ...  [When, I, saw, the, magnificent, Heath, ledger...
1   asassandroo  ...  [I, can, say, that, i, 'm, really, grateful, t...
2    samanehdds  ...  [I, 'm, not, a, fan, of, Batman, movies, but, ...
3    guillevica  ...  [What, a, master, piece, ,, it, so, so, wondef...
4     ahurworth  ...  [Has, to, be, the, best, movie, I, 've, seen, ...

[5 rows x 3 columns]

In [9]:
import pandas as pd
import numpy as np
def compute_values(ip):
  res1 =pd.value_counts(ip)
  if(len(res1)==0 ):
    res1 = [0]
  return res1

new_df = required_df["tokens"].apply(lambda x : compute_values(x))

new_df = new_df.fillna(0)
final_df1 = pd.DataFrame(new_df.columns, columns=["tokens"])
res = pd.DataFrame(new_df.T.sum(axis=1),columns = ["count_of_value"]).values.tolist()
final_df1["count_of_occurances"] = pd.DataFrame(res)

In [10]:
final_df1.head(5)

  tokens  count_of_occurances
0      I                135.0
1    the                308.0
2      a                220.0
3   that                 89.0
4     in                103.0

In [11]:
!pip install TextBlob

Requirement already satisfied: TextBlob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from TextBlob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->TextBlob) (1.15.0)

In [12]:
from textblob  import TextBlob
#find the polarity 
final_df1["polarity"] = final_df1['tokens'].apply(lambda x: TextBlob(x).sentiment.polarity)

#filter the influencing variables 
op1 = final_df1["polarity"] != 0
op1_filter = final_df1[op1]
op1_filter.head(10)

         tokens  count_of_occurances  polarity
12      amazing                 21.0  0.600000
13          new                  4.0  0.136364
14        great                 25.0  0.800000
33       really                 20.0  0.200000
37  outstanding                  5.0  0.500000
45       tragic                  2.0 -0.750000
50          few                  2.0 -0.200000
70  magnificent                  2.0  1.000000
77    beautiful                  4.0  0.850000
79   absolutely                  6.0  0.200000

In [13]:
#rank the words based on the occurance 
result1 = op1_filter.sort_values(by = ["count_of_occurances"],ascending = False).reset_index()

## (2) (10 points) Compare the performance of the following tools in sentiment identification: TextBlob (https://textblob.readthedocs.io/en/dev/), VADER (https://github.com/cjhutto/vaderSentiment), TFIDF-based Support Vector Machine (SVM) (Split your data into training and testing data). Take your own annotation as the standard answers. 

Reference code: https://towardsdatascience.com/fine-grained-sentiment-analysis-in-python-part-1-2697bb111ed4

In [35]:
final_df1["polarity"] = sentiment_data["Reviews"].apply(lambda x: TextBlob(str(x)).sentiment.polarity)
final_df1.head(5)

  tokens  count_of_occurances  polarity sentiment_res
0      I                135.0  0.333690       neutral
1    the                308.0  0.204945      negative
2      a                220.0  0.322222       neutral
3   that                 89.0  0.700000      positive
4     in                103.0  0.314286       neutral

In [37]:
final_df1['sentiments'] = pd.cut(final_df1['polarity'], bins=3, labels=["negative", "neutral", "positive"])
final_df1["sentiment_res"]=final_df1["sentiment_res"].fillna("negative")

In [38]:
final_df1.head(5)

  tokens  count_of_occurances  polarity sentiment_res sentiments
0      I                135.0  0.333690       neutral    neutral
1    the                308.0  0.204945      negative   negative
2      a                220.0  0.322222       neutral    neutral
3   that                 89.0  0.700000      positive   positive
4     in                103.0  0.314286       neutral    neutral

In [45]:
final_df1["sentiment_res"] = final_df1["sentiment_res"].fillna("negative")
final_df1.head(5)

  tokens  count_of_occurances  polarity sentiment_res sentiments
0      I                135.0  0.333690       neutral    neutral
1    the                308.0  0.204945      negative   negative
2      a                220.0  0.322222       neutral    neutral
3   that                 89.0  0.700000      positive   positive
4     in                103.0  0.314286       neutral    neutral

In [46]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [48]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as sa
sentiment_intensity_analyzer = sa()
required_df["polarity_dict"] = required_df["Reviews"].apply(lambda x: sentiment_intensity_analyzer.polarity_scores(str(x)))

In [49]:
required_df["polarity_dict"].head(10)

0    {'neg': 0.082, 'neu': 0.726, 'pos': 0.192, 'co...
1    {'neg': 0.0, 'neu': 0.727, 'pos': 0.273, 'comp...
2    {'neg': 0.158, 'neu': 0.559, 'pos': 0.284, 'co...
3    {'neg': 0.0, 'neu': 0.689, 'pos': 0.311, 'comp...
4    {'neg': 0.067, 'neu': 0.733, 'pos': 0.199, 'co...
5    {'neg': 0.121, 'neu': 0.49, 'pos': 0.389, 'com...
6    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
7    {'neg': 0.276, 'neu': 0.645, 'pos': 0.078, 'co...
8    {'neg': 0.095, 'neu': 0.607, 'pos': 0.299, 'co...
9    {'neg': 0.132, 'neu': 0.716, 'pos': 0.152, 'co...
Name: polarity_dict, dtype: object

In [50]:
required_df["polarity"] = required_df["Reviews"].apply(lambda x: sentiment_intensity_analyzer.polarity_scores(str(x))["compound"])

In [51]:
required_df['sentiments'] = pd.cut(required_df['polarity'], bins=3, labels=["negative", "neutral", "positive"])

In [52]:
required_df.head(5)

     User Names  ... sentiments
0  morino-59166  ...   positive
1   asassandroo  ...   positive
2    samanehdds  ...   positive
3    guillevica  ...   positive
4     ahurworth  ...   positive

[5 rows x 6 columns]

In [68]:
from sklearn import feature_extraction, model_selection, svm, linear_model

In [84]:
final_df1 = sentiment_data[["Reviews"]].reset_index()
final_df1["Reviews"] = final_df1["Reviews"].fillna("  ")

In [90]:
train_data, test_data = model_selection.train_test_split(required_df, test_size = 0.5)

In [91]:
import sklearn
from sklearn.pipeline import Pipeline as pipe

pipeline = pipe([('countvector', feature_extraction.text.CountVectorizer()),('tf-idf', feature_extraction.text.TfidfTransformer()),('classifier', linear_model.SGDClassifier())])

In [102]:
vector = pipeline.fit(train_data['Reviews'].values.astype('U'), train_data['sentiments'].values.astype('U'))
test_data['predicted Reviews'] = vector.predict(test_data['Reviews'].values.astype('U'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [103]:
test_data.head(5)

             User Names  ... predicted Reviews
70         tangli-47554  ...          positive
59      carriejenkinson  ...          positive
75  sandeepmourya-89733  ...          positive
10     jeffbrewer-90703  ...          positive
5       aldaihani-92034  ...          positive

[5 rows x 7 columns]

In [104]:
from sklearn.metrics import accuracy_score

In [108]:
accuracy_score(required_df["sentiments"],required_df["sentiments"])

1.0

In [116]:
accuracy_score(test_data["sentiments"].values.tolist(),test_data["predicted Reviews"].values.tolist())

0.92